#=====================
# Maven编译输出
#=====================
target/


#=====================
# Java编译输出
#=====================
bin/


#=====================
# Web编译输出
#=====================
WEB-INF/classes/


#=====================
# Eclipse工程设置
#=====================
.settings/
.metadata/
RemoteSystemsTempFiles


#=====================
# MyEclipse
#=====================
.mymetadata


#=====================
# Log文件
#=====================
logs*/
*.log


#=====================
# Svn
#=====================
.svn/

#=====================
# ANT 设置文件
#=====================
local.properties


#=====================
# 其他自动生成
#=====================
gen

